/* Common style */
.container-left {
  background-color: #f5f8fa;
  display: block;
}

.container-fluid {
  background-color: #f5f8fa;
}

/* header section START */
// .header {
//   font-size: 15px;
//   background-color: #f5f8fa;
// }

.custom-a {
  font-weight: 600;
}

.custom-search-logo {
  width: 15px;
  margin-right: 15px;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.custom-search-logo:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.custom-search-field,
.search-if {
  border: 0;
  background-color: #a3acb2;
  border-radius: 60px;
  width: 50%;
}

.search-if {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.search-if::-webkit-input-placeholder {
  color: #f5f8fa;
}

.search-if::-moz-placeholder {
  color: #f5f8fa;
}

.search-if:-ms-input-placeholder {
  color: #f5f8fa;
}

.search-if::-ms-input-placeholder {
  color: #f5f8fa;
}

.search-if::placeholder {
  color: #f5f8fa;
}

.navbar input:active,
.navbar input:focus {
  outline: none;
  box-shadow: none;
}

.custom-input-btms {
  border-radius: 5px;
  background-color: #71bad5;
}

.main-header-menu-list {
  width: 32%;
}

.list-width {
  width: 39%;
}

/* header section END! */

a:hover {
  color: #0084b4 !important;
}

.padding-left-3 {
  padding-left: 12px;
}

.section {
  border: 1px solid #d8e2e8;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 14px;
  min-height: 200px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-28 {
  font-size: 28px;
}

// .header {
//   height: 45px;
//   background-color: #f5f8fa;
// }

.main-section {
  padding: 0;
}

.bg-color-block {
  background-color: #0084b4;
  height: 344px;
}

/* first section */

.personal-info {
  /* position: relative; */
  padding-top: 75px;
}

.personal-info__main-wrapper {
  position: relative;
}

.personal-info__image-wrapper {
  width: 210px;
  position: absolute;
  top: -222px;
}

.personal-info__user-handle {
  color: #0084b4;
  line-height: 20px;
}

.circle-pseudo {
  position: relative;
}

.circle-pseudo::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 2px;
  background-color: black;
  border-radius: 50%;
  top: 12px;
  left: 5px;
}

.personal-info__user-location {
  background: url("../img/icons/Location_icon.png") no-repeat 1% 50%;
}

.personal-info__user-site {
  background: url("../img/icons/URL_icon.png") no-repeat 0 50%;
}

.personal-info__user-bio {
  width: 100%;
  max-width: 290px;
}

.personal-info__user-bio,
.personal-info__user-location,
.personal-info__user-site {
  line-height: 20px;
}

.personal-info__user-site {
  color: #0084b4;
}

.users-suggest__user-name,
.users-suggest__user-login {
  line-height: 1rem;
}

.users-suggest__link,
.worldwide-trends__link {
  color: #0084b4;
}

.users-suggest__image {
  width: 48px;
  height: 48px;
}

.sticky-position {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
}

.users-suggest {
  display: block;
  }

.tweet-name {
  border: 1px solid #a3d1e3;
  background-color: #eaf3f7;
  padding: 15px;
  margin-bottom: 10px;
}

.display {
  display: block;
}

.tweet-name__input {
  line-height: 20px;
  border: 1px solid #a3d1e3;
}

.tweet-name__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4;
}

.tweet-name__input::-moz-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4;
}

.tweet-name__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4;
}

.tweet-name__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4;
}

.tweet-name__input::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #0084b4;
}

.tw-btn {
  border: 1px solid #e1e8ed;
  background: url("../img/icons/Follow_icon.png") no-repeat 8% 50%;
  padding: 4px 6px 4px 35px;
}

/* second section */

.users-suggest__user-name,
.users-suggest__user-login {
  font-size: 12px;
}

.worldwide-trends {
  /* position: sticky;
      top: 356px; */
  margin-bottom: 20px;
}

.worldwide-trends__hashtag {
  color: #0084b4;
}

.worldwide-trends__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* footer  */
/* .footer-left { */
/* position: sticky;
    top: 646px; */
/* } */

.footer__text {
  color: #ccd6dd;
}

.footer__info-wrapper {
  width: 100%;
  max-width: 215px;
}

/*  */

/* хедер твитов начало */
.tweets-main__header {
  background-color: #f5f8fa;
}

.navbar-text-color {
  color: #0084b4;
}

.nav-twets-menu {
  color: #66757f;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
}

.nav-twets-menu label {
  font-size: 15px;
}

// .twets {
//   color: #66757f;
//   font-size: 12px;
//   font-weight: 600;
//   line-height: 20px;
//   border: 0;
//   background-color: #f5f8fa;
//   outline: 0;
//   border-bottom: 3px solid #f5f8fa;
// }

.activity-border {
  border-bottom: 3px solid #f5f8fa;
}

.activity-border:hover {
  border-bottom: 3px solid #0084b4;
}

.custom-btm-f {
  /* font-weight: bold; */
  background-color: #53a9ea;
  padding: 3px 15px;
  font-size: 14px;
  /* border-radius: 5px; */
  border: 1px solid #3b88c3;
}

// .twets {

// }

.twets:hover {
  border-bottom: 3px solid #0084b4;
}

.text-label-color {
  color: #0084b4;
}

.who-to-follow-display {
  display: flex;
}
/* хедер твитов конец */

/* хедер твитов конец */

.tweets-main {
  padding: 0;
  max-height: 1210px;
}

.tweets-main__content {
  max-height: 1080px;
  padding-bottom: 5rem;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tweets-main__content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.line-height-n {
  line-height: normal;
}

/* tweet-footer */
.tweet-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.tweet-footer__actions {
  width: 220px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  filter: none !important;
}

.actions__reply,
.actions__rt,
.actions__fav,
.actions__more {
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.actions__reply:hover {
  -webkit-filter: hue-rotate(30deg) saturate(8);
  filter: hue-rotate(30deg) saturate(8);
}

.actions__rt:hover {
  -webkit-filter: hue-rotate(230deg) saturate(8);
  filter: hue-rotate(230deg) saturate(8);
}
.actions__fav:hover {
  -webkit-filter: hue-rotate(200deg) saturate(8);
  filter: hue-rotate(200deg) saturate(8);
}

.actions__more:hover {
  -webkit-filter: hue-rotate(0deg) saturate(8);
  filter: hue-rotate(0deg) saturate(8);
}

.actions__reply:active,
.actions__rt:active,
.actions__fav:active,
.actions__more:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.reply-number,
.rt-number,
.fav-number {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #8899a6;
  opacity: 0.8;
}

.tweet-footer__link {
  z-index: 1001;
}
/* tweet-footer END*/

.tweets-main__footer {
  position: relative;
  height: 25px;
  bottom: 125px;
  background-color: #f5f8fa;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.tweets-footer-gradient {
  position: relative;
  bottom: 125px;
  height: 120px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f5f8fa00),
    color-stop(#f5f8fa2c),
    color-stop(#f5f8faad),
    color-stop(#f5f8fae0),
    to(#f5f8fa)
  );
  background: linear-gradient(
    #f5f8fa00,
    #f5f8fa2c,
    #f5f8faad,
    #f5f8fae0,
    #f5f8fa
  );
}

.tweets-main__footer__line {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
}

.tweets-main__footer__logo {
  margin-left: 15px;
  margin-right: 15px;
}
/* tweets END*/

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575px) {
  .display {
    display: none;
  }

  .bg-color-block {
    display: none;
  }

  .main-logo {
    position: absolute;
    top: 10px;
    right: 0;
  }

  // .main-header-nav-logo {
  //   position: absolute;
  //   top: 7px;
  //   right: 44%;
  // }

  .main-header-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px 0;
  }

  .main-header-menu-item {
    width: 100%;
    max-width: 104px;
  }

  .main-header-menu-icon {
    width: 100%;
    max-width: 104px;
  }

  .custom-search-field {
    width: 80%;
    margin: 10px auto;
  }

  .users-suggest {
    display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
  .display {
    display: none;
  }

  .bg-color-block {
    display: none;
  }

  .main-logo {
    position: absolute;
    top: 10px;
    right: 0;
  }

  .bg-color-block {
    height: 150px;
  }

  // .main-header-nav-logo {
  //   position: absolute;
  //   top: 7px;
  //   right: 44%;
  // }

  .main-header-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px 0;
  }

  .main-header-menu-item {
    width: 22%;
  }

  .main-header-menu-icon {
    width: 30%;
  }

  .custom-search-field {
    width: 70%;
    margin: 10px auto;
  }

  .users-suggest {
    display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .personal-info__image-wrapper {
    width: 140px;
    top: -166px;
  }

  .container-left {
    display: none;
  }

  .bg-color-block {
    height: 150px;
  }

  .main-header-menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 13px 0;
  }

  .main-header-menu-item {
    width: 22%;
  }

  .main-header-menu-icon {
    width: 31%;
  }

  .custom-search-field {
    width: 70%;
    margin: 10px auto;
  }

  // .main-header-nav-logo {
  //   position: absolute;
  //   top: 7px;
  //   right: 45%;
  // }

  .bg-color-block {
    display: none;
    }
    .users-suggest {
      display: none;
      }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .personal-info__image-wrapper {
    width: 150px;
    top: -166px;
  }
  .users-suggest {
    display: none;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 .who-to-follow-display {
   display: none;
 }
}
