<div class="col-xl-3 col-lg-3 col-md-4 container-left display">
    <section class="personal-info">
        <div class="personal-info__main-wrapper">
        <div class="personal-info__image-wrapper mb-2">
            <img src="img/Your-profile-pic-here.png" class="img-thumbnail" alt="Cinque Terre">
        </div>
        <h3 class="personal-info__user-name font-weight-light">Your Name Here</h3>
        <span
            class="personal-info__user-handle font-weight-bold font-size-14 d-block mb-2">@YourHandleHere</span>
        </div>
        <p class="personal-info__user-bio text-muted font-size-14 mb-3">Your bio goes here in max 140
            characters.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut
            lab.</p>
        <div class="mb-3 font-size-14 d-flex flex-wrap flex-column">
            <span class="personal-info__user-location text-muted pl-4">Your location</span>
            <a href="#" class="personal-info__user-site pl-4">yourwebsite.url</a>
        </div>

        <div class="col tweet-name rounded">
            <input class="tweet-name__input form-control" type="text"
                placeholder="Tweet to Your Name here">
        </div>
    </section>
    <div class="sticky-position">
    <section class="col worldwide-trends section">
        <div class="worldwide-trends__wrapper section__text-wrapper d-flex pb-2 flex-sm-wrap">
            <span class="font-weight-light">Worldwide Trends</span>
            <span class="padding-left-3 circle-pseudo"><a class="worldwide-trends__link font-size-12"
                    href="#">Change</a></span>
        </div>
        <ul class="worldwide-trends__list font-size-14">
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag"
                    href="#">#NewTwitter</a></li>
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag" href="#">#GBX</a>
            </li>
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag"
                    href="#">#graphicdesign</a></li>
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag" href="#">#mockup</a>
            </li>
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag" href="#">#layout</a>
            </li>
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag" href="#">#PSD</a>
            </li>
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag"
                    href="#">#FreeTemplate</a></li>
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag" href="#">#Lorem</a>
            </li>
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag" href="#">#ipsum</a>
            </li>
            <li class="worldwide-trends__item"><a class="worldwide-trends__hashtag" href="#">#amet</a>
            </li>
        </ul>
    </section>
    <footer class="footer-left d-flex flex-wrap pl-2 pr-3 font-size-12">
        <div class="footer__info-wrapper d-flex flex-wrap justify-content-between">
            <span class="footer__text">@2014 Twitter</span>
            <a class="footer__text " href="#">About</a>
            <a class="footer__text" href="#">Help</a>
            <a class="footer__text" href="#">Ads info</a>
        </div>
        <span class="footer__text">Twitter 2014 GUI PSD by @GiulioBx - v.1.1</span>
    </footer>
</div>
</div>